{% extends 'base.html' %}

{% block title %}
404 Error
{% endblock %}

{% block body %}

<div style="padding-left: 35%; padding-right: 35%; padding-top: 5%;">
    <div class="card text-center" style="padding-top: 5%; background-color: #2F2D2E; color: white;">
        <img src="{{url_for('static', filename='icon.svg')}}" class="card-img-top" style="display: block; margin: auto; max-width: 30%;">
        <h1 class="card-title"><b>404!</b></h1>
        <div class="card-body">
            <h2>
                Page not found!
            </h2>
            <br>
            <h4>
                <a href="{{ url_for('home_page') }}">
                  Return to home page
                </a>
            </h4>
        </div>
    </div>
</div>
{% endblock %}