{% extends 'base.html' %}

{% block title %}
Access manager for {{ user.user_name }} {{ user.user_last_name }}
{% endblock %}

{% block body %}

<scritpt>

</scritpt>


<div style="padding-left: 15%; padding-right: 15%; padding-top: 2%; padding-bottom: 1%">
    <div class="card text-center" style="background-color: #2F2D2E; color: white; padding-top: 2%;">
        <h3 class="card-title">Modifying permissions for <b>{{ user.user_name }} {{ user.user_last_name }}</b></h3>
        <div class="card-body">
            <table style="width: 100%; padding-left: 10%; padding-right: 10%;">
                <tr>
                    <td width="50%">
                        <h6>(NFC ID: {{ user.nfc_id }})</h6>
                    </td>
                    <td width="50%">
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deletion_modal">Delete user</button>
                    </td>
                </tr>
            </table>
            {% if connected_locks|length == 0 %}
                <br>
                <h2>No connected locks.</h2>
                <br>
            {% else %}
                <h2>Connected locks:</h2>
                <table style="width: 100%; padding-left: 10%; padding-right: 10;">
                    <tr>
                        <td width="50%">
                            <h2>Lock name</h2>
                        </td>
                        <td width="50%">
                            <h2>Action</h2>
                        </td>
                    </tr>
                    {% for lock in connected_locks %}
                    <tr>
                        <td width="50%">
                            <h3>
                                {{ lock.lock_name }}
                            </h3>
                        </td>
                        <td width="50%">
                            <form method="POST" action="{{ url_for('manager.access_manager') }}">
                                <input type="hidden" value="{{ lock.id }}" name="lock_id" id="lock_id">
                                <input type="hidden" value="{{ user.nfc_id }}" name="user_id" id="user_id">
                                <input type="hidden" value="True" name="to_delete" id="to_delete">
                                <input type="submit" class="btn btn-danger" value="Disconnect" style="width: 20%;">
                            </form>
                        </td>
                    </tr>

                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>
</div>

<div style="padding-left: 15%; padding-right: 15%;">
    <div class="card text-center" style="background-color: #2F2D2E; color: white; padding-top: 2%;">
        <h3 class="card-title">Avaliable locks:</h3>
        <div class="card-body">
            <table style="padding-left: 10%; padding-right: 10%; width: 100%;">
                {% for lock in avaliable_locks %}
                <tr>
                    <td width="50%">
                        {{ lock.lock_name }}
                    </td>
                    <td width="50%">
                        <form method="POST" action="{{ url_for('manager.access_manager') }}">
                            <input type="hidden" value="{{ lock.id }}" name="lock_id" id="lock_id">
                            <input type="hidden" value="{{ user.nfc_id }}" name="user_id" id="user_id">
                            <input type="hidden" value="False" name="to_delete" id="to_delete">
                            <input type="submit" class="btn btn-success" value="Connect">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="deletion_modal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" style="background-color: #2F2D2E; color: white;">
        <div class="modal-header">
          
          <h4 class="modal-title">Are you sure?</h4>
        </div>
        <div class="modal-body" style="background-color: #2F2D2E;">
          <p>You are about to delete {{ user.user_name }} {{ user.user_last_name }}'s account. This cannot be undone.<br>Are you sure?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <form method="POST" action="{{ url_for('manager.manager_delete_user') }}">
            <input type="hidden" value="{{ user.nfc_id }}" id="user_id" name="user_id">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}