{% extends 'base.html' %}

{% block title %}
Home Page
{% endblock %}

{% block body %}
<style>
    a:visited {
        color: black;
        text-decoration: none;
    }
    a:hover {
        color: black;
        text-decoration: none;
    }
    a {
        color: #000;
        text-decoration: none;
    }
    td 
{
    text-align: center; 
    vertical-align: middle;
}
</style>
<table style="width: 90%; margin:5%">
    <tr>
        <td colspan="2">
            <img src="{{url_for('static', filename='icon.svg')}}">
        </td>
    </tr>
    <tr>
        <td colspan="2">
<pre>
__      __   _                    _         ___    _   __  __   _ 
\ \    / /__| |__ ___ _ __  ___  | |_ ___  | _ \  /_\ |  \/  | | |
 \ \/\/ / -_) / _/ _ \ '  \/ -_) |  _/ _ \ |   / / _ \| |\/| | |_|
  \_/\_/\___|_\__\___/_|_|_\___|  \__\___/ |_|_\/_/ \_\_|  |_| (_)
</pre>
        </td>
    </tr>
    <tr>
        <td style="width: 45%;">
            <a href="{{url_for('auth.login')}}"><h1>Login</h1></a>
        </td>
        <td style="width: 45%;">
            <a href="https://github.com/nonelone/room_access_manager"><h1>Documentaton</h1></a>
        </td>
    </tr>
</table>

{% endblock %}