{% extends 'base.html' %}
{% block title %}
Log In
{% endblock %}
{% block body %}   
<br><br>
<div class="mainText">
    <h1 style="text-align: center;">Login</h1>
    <br>
    <form method="POST" action="{{ url_for('auth.login') }}">
        <label for="email">Email:</label>
        <input type="text" name="email" required>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
        <input type="submit" value="Login">
    </form>
    <br>
</div>

{% endblock %}