{% extends 'base.html' %}

{% block title %}
User manager
{% endblock %}

{% block body %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="{{ 'alert alert-success' if message == 'User registered!' else 'alert alert-danger'}}" role="alert" style="position: relative; text-align: center;">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<div style="padding-left: 15%; padding-right: 15%; padding-top: 2%; padding-bottom: 1%">
    <div class="card text-center" style="background-color: #2F2D2E; color: white; padding-top: 1%; padding-bottom: 1%;">
        <h1 class="card-title">Users</h1>
        <div class="card-body">
            <table width="100%">
                <tr style="font-size: 2vw;">
                    <td width="25%">
                        Name
                    </td>
                    <td width="25%">
                        Last Name
                    </td>
                    <td width="25%">
                        NFC ID
                    </td>
                    <td width="25%">
                        Access
                    </td>
                </tr>
                {% for user in users %}
                <tr>
                    <td>
                        {{ user.user_name }}
                    </td>
                    <td>
                        {{ user.user_last_name }}
                    </td>
                    <td>
                        {{ user.nfc_id }}
                    </td>
                    <td>
                        <form method="POST" action="{{ url_for('manager.access_manager') }}">
                            <input type="hidden" value="{{ user.nfc_id }}" name="user_id" id="user_id">
                            <input style="font-size: 1vw;" type="submit" value="Manage" class="btn btn-secondary">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<nav aria-label="" data-bs-theme="dark">
    <ul class="pagination justify-content-center">
    {% if users.has_prev %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('manager.user_manager', page=users.prev_num) }}" tabindex="-1" aria-disabled="false">Previous</a>
        </li>
    {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
    {% endif %}
      {% for page in users.iter_pages() %}
        <li class="page-item {% if users.page == page %} active {% endif %}">
            <a class="page-link" href="{{ url_for('manager.user_manager', page=page) }}">{{ page }}</a>
        </li>
      {%- endfor %}
    {% if users.has_next %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('manager.user_manager', page=users.next_num) }}" tabindex="-1" aria-disabled="false">Next</a>
        </li>
    {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
        </li>
    {% endif %}
    </ul>
  </nav>


  <div style="padding-left: 15%; padding-right: 15%; padding-top: 1%; padding-bottom: 1%">
    <div class="card text-center" style="background-color: #2F2D2E; color: white; padding-top: 2%; padding-bottom: 3%;">
        <h1 class="card-title">Add user</h1>
        <div class="card-body">
            <table style="padding-left: 15%; padding-right: 15%; width: 100%;">
                <form method="POST" action="{{ url_for('manager.user_manager') }}">
                    <tr style="width: 100%;">
                        <td width="25%">
                            <label for="name" style="font-size: 1vw;">Name:</label>
                            <input type="text" name="name" required>
                        </td>
                        <td width="25%">
                            <label for="lastname" style="font-size: 1vw;">Last Name:</label>
                            <input type="text" name="lastname" required>
                        </td>
                        <td width="25%">
                            <label for="ID" style="font-size: 1vw;">ID:</label>
                            <input type="text" name="ID" required>
                        </td>
                        <td width="25%">
                            <input style="width: 75%;" type="submit" class="btn btn-success" value="Add user">
                        </td>
                    </tr>
                </form>
            </table>
        </div>
    </div>
</div>
<br>
{% endblock %}
